@tailwind base;
@tailwind components;
@tailwind utilities;




code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.text-shadow {
    text-shadow: 3px 3px 3px #295C44;
}

.dark .text-shadow {
    text-shadow: 3px 3px 3px #52B788;
}